<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> details</title>
    <style>
        img{
            width :250px;
            height :500px;
        }
        button{
            background-color: blue;
            font-size: 20px;
            font:bold;

        }
    </style>
</head>
<body>
    <img src='{{product.image.url}}' , alt ="product detail image">
   <p>  {{product.title}}  </p>
   <p> ₦{{product.comma_price}}    </p>
   <p>  {{product.description}}  </p>
   <script> const a ='../' ; </script><P>
   <form action="."  method="POST">{% csrf_token %}
    <input type='submit' value ='Add to cart'>
   </form> <br>
   <button onclick="window.open(a)">back</button>
</P>
      
</body>
</html>